table, td, th {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ccc;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tbody {
    font-style: italic;
}

img {
    margin:0px auto;
    display: block;
}

#tableSet {
    margin: auto;
    width: 100%;
}

#tableHeadliner {
    background-color: grey;
}

.embedFont {
    font-family: 'Pangolin', cursive;
}

.albumCover {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/5/5f/Van_Halen_-_1984.jpg");
    margin:0px auto;
    display: block;
    width:300px;
    height: 300px;
}

li {
    font-style: italic;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(240, 190, 104);
}

a:active {
    text-decoration: none;
}